<div>
    <mat-card class="app-form">
        FIX APPOINTMENT
        <div class="example-container ">
            <div class="fix-appoinment">
                <mat-select class="test-1" placeholder="Date">
                    <mat-option value="option">India</mat-option>
                    <mat-option value="option">USA</mat-option>
                </mat-select>

                <mat-select placeholder="Time">
                    <mat-option value="option">India</mat-option>
                    <mat-option value="option">USA</mat-option>
                </mat-select>

                <mat-select placeholder="Doctor">
                    <mat-option value="option">India</mat-option>
                    <mat-option value="option">USA</mat-option>
                </mat-select>

                <mat-select placeholder="Department">
                    <mat-option value="option">India</mat-option>
                    <mat-option value="option">USA</mat-option>
                </mat-select>
            </div>
            <div class="flam-inner_div flam-appointment-field flam-upper-btn clearfix">
                <button type="submit" name="button" class="flam-btn_patient flam-side-form-btn flam-a-btn">Confirm</button>
                <button type="submit" name="button" class="flam-btn_patient flam-cancel_btn right flam-a-btn">Cancel</button>
            </div>

        </div>
    </mat-card>
</div>