<div class="flam-div-cont1">
        <form class="form-pt-det flam-form-crossref flam-gen-exam">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">General Examination</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">                        
                            <div class="flam-sgl-div">
                                <!-- <input type="text" placeholder="Type your text here">  -->
                                <mat-form-field class="flam-ct-fld flam-in-fld">
                                        <input type="text" matInput placeholder="Type Your Text Here" [matAutocomplete]="auto2">
                                </mat-form-field>
                                    <mat-autocomplete #auto2="matAutocomplete">
                                        <mat-option *ngFor="let option of options" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                            </div>    
                            <div class="btn-div">
                                <div class="btn1">
                                    <button type="button">Save</button>
                                </div>
                                <div class="btn2">
                                    <button type="button">Verify</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </form>
    </div>