<!-- <header id="flam-branch-header">
  <div class="flam-contain clearfix">
    <div id="flam-logo">
      <img class="flam-branch-logo" src="assets/images/logo-main.jpg" alt="logo">
    </div>
    <div class="flam-head_name right">
      <div class="flam-dr-nm-hdr dropdown">
        <div class="dropdown-toggle" data-toggle="dropdown">
          <img src="assets/images/4.jpg" alt="Images" class="flam-dr-img">
          <span class="flam-dr-name">Dr. Terhan Tripathi</span>
          <span>
            <i class="material-icons flam-icon1">arrow_drop_down</i>
          </span>
        </div>
        <ul class="dropdown-menu">
          <li>
            <a>
              <img class="flam-menu-img" src="assets/images/profile-icon.png" alt="profile">
              <span class="flam-menu-span">PROFILE</span>
              <button class="flam-edit-menu right" type="submit">EDIT</button>
            </a>
          </li>
          <li>
            <a>
              <img class="flam-menu-img" src="assets/images/view-icon.png" alt="View">
              <span class="flam-menu-span">VIEW REPORT</span>
            </a>
          </li>
          <li>
            <a>
              <img class="flam-menu-img" src="assets/images/setting-icon.png" alt="Setting">
              <span class="flam-menu-span">SETTING</span>
            </a>
          </li>
          <li>
            <a>
              <img class="flam-menu-img" src="assets/images/help.png" alt="Help">
              <span class="flam-menu-span">HELP</span>
            </a>
          </li>
          <li>
            <a>
              <img class="flam-menu-img" src="assets/images/logout-icon.png" alt="Logout">
              <span class="flam-menu-span">LOGOUT</span>
            </a>
          </li>
          <li>
            <a class="flam-text right">
              <img class="flam-menu-image flam-fortis-logo" src="assets/images/hospital-icon.png" alt="Image">
            </a>
          </li>
        </ul>
      </div>
      <div class="flam-menu-btn-hdr dropdown">
        <div class="dropdown-toggle" data-toggle="dropdown">
          <span class="flam-menu-btn-icon">
            <i class="material-icons flam-icon2">menu</i>
          </span>
        </div>
        <ul class="dropdown-menu">
          <li>
            <a>
              <span class="flam-menu-span">About Us</span>
            </a>
          </li>
          <li>
            <a>
              <span class="flam-menu-span">Support</span>
            </a>
          </li>
          <li>
            <a>
              <span class="flam-menu-span">Tutorials</span>
            </a>
          </li>
          <li>
            <a>
              <span class="flam-menu-span">FAQ's</span>
            </a>
          </li>
          <li>
            <a>
              <span class="flam-menu-span">News</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header> -->
<!-- header finish -->
<app-common-header [showSearchBar]="false" [showAddPatientBtn]="false" [showAddWalkinBtn]="false"></app-common-header>

<!-- branch-content  -->
<div class="flam-content clearfix">
  <div class="flam-main-content-inner-div">
    <div class="flam-doctor_info col-sm-6">
      <img class="flam-image" src="{{userProfileResponseModel.image}}" alt="Images">
      <p class="flam-welcome">Welcome !</p>
      <h3 class="flam-dr-wel">{{userProfileResponseModel.first_name}} {{userProfileResponseModel.last_name}}</h3>
      <p class="flam-p_designation">{{userProfileResponseModel.specialisation}}</p>
      <!-- <button class="flam-button" (click)="update_Organisation_Users_logs()">Go</button> -->
    </div>

    <div class="">
      <div class="col-sm-6 flam-location_detail right">
        <div class="flam-location">
          <img id="flam-loc_icon" src="assets/images/loc2.jpg" alt="location">

          <p class="flam-para">Choose a Location</p>
        </div>
        <div class="flam-location_info">
          <form [formGroup]="branchForm" name="test" id="flam-form">
            <mat-radio-group formControlName="branchListControl" class="flam-radio_grp" (change)="onBranchSelection($event)">
              <mat-radio-button class="flam-radio_btn" *ngFor="let branch of userBranchResponseModel.page_results" [value]="branch">
                {{branch.name}}
              </mat-radio-button>
            </mat-radio-group>
          </form>
          <div style="float: left">
            <mat-error *ngIf="showBranchIdErrorMsg">{{VALIDATION_MESSAGES.BRANCH.BRANCH_NAME.REQUIRED}}</mat-error>
          </div>
          <button class="flam-button" (click)="update_Organisation_Users_logs()">Go</button>
          <!-- <span style="color: #ff8a4b">{{selectVal}}</span> -->
        </div>

      </div>

    </div>
  </div>
</div>
<!-- content finish -->