<h2 class="hdg">Social History </h2>

<form class="form-pt-det form-vital">
    <div>
    <div class="selct-field flam-slct-width">
        <div class="flam-hy-heading">
            <h4 class="flam-heading-h4">Smoking</h4>
        </div>
        <mat-form-field>
            <mat-select placeholder="Choose Option">
                <mat-option value="Non-smoker">Non -smoker</mat-option>
                <mat-option value="Ex smoker">Ex smoker</mat-option>
                <mat-option value="Occasional smoker">Occasional smoker</mat-option>
                <mat-option value="Light Smoker">Light smoker</mat-option>
                <mat-option value="Moderate smoker">Moderate smoker</mat-option>
                <mat-option value="Heavy smoker">Heavy smoker</mat-option>
                <mat-option value="Very heavy smoker">Very heavy smoker</mat-option>
            </mat-select>
            <!-- <span class="flam-arr">
            </span> -->
        </mat-form-field>
    </div>
    <div class="selct-field flam-slct-width">
        <div class="flam-hy-heading">
            <h4 class="flam-heading-h4">Drinking</h4>
        </div>
        <mat-form-field>
            <mat-select placeholder="Choose Option">
                <mat-option value="Non-drinker">Non-drinker</mat-option>
                <mat-option value="Ex-drinker">Ex-drinker</mat-option>
                <mat-option value="Social drinker">Social drinker</mat-option>
                <mat-option value="Occasional-drinker">Occasional drinker</mat-option>
                <mat-option value="Regular Light drinker">Regular Light drinker</mat-option>
                <mat-option value="Heavy drinker">Heavy drinker</mat-option>
            </mat-select>
            <!-- <span class="flam-arr">
            </span> -->
        </mat-form-field>
    </div>
</div>
<div>
    <div class="selct-field flam-select-inp flam-slct-width">
        <div class="flam-hy-heading">
            <h4 class="flam-heading-h4">Exercise</h4>
        </div>
        <mat-form-field>
            <mat-select placeholder="Choose Option">
                <mat-option value="Gets no or little exercise">Gets no or little exercise</mat-option>
                <mat-option value="Exercises Occasionally">Exercises Occasionally</mat-option>
                <mat-option value="Exercises regularly">Exercises regularly</mat-option>
            </mat-select>
            <!-- <span class="flam-arr">
            </span> -->
        </mat-form-field>
    </div>
    
    <div class="selct-field flam-select-inp flam-slct-width">
        <div class="flam-hy-heading">
              <h4 class="flam-heading-h4">Chewing Tobacco</h4>
        </div>
            <mat-radio-group>
                <mat-radio-button value="Yes" class="flam-social-btn">Yes</mat-radio-button>
                <mat-radio-button value="No" class="flam-social-btn">No</mat-radio-button>
            </mat-radio-group>
     </div>
    </div>
</form>

<div class="btn-div flam-select-inp">
    <div class="btn1">
        <button type="button">Save</button>
    </div>
    <div class="btn2">
        <button type="button">Verify</button>
    </div>
</div>