<header class="clearfix flam-header-main">
    <div class="flam-menu right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="active">About Us</a>
            </li>
            <li>
                <a href="#">Support</a>
            </li>
            <li>
                <a href="#">Tutorials</a>
            </li>
            <li>
                <a href="#">FAQ's</a>
            </li>
            <li>
                <a href="#">News</a>
            </li>
        </ul>
    </div>
</header>
<div class="flam-content">
    <form novalidate class="flam-login-form" [formGroup]="loginForm">
        <div class="flam-contain">
                
            <div class="flam-main_div"> 
                    <h3 class="flam-login-heading">SMARTHEALTH</h3>
                    <img class="flam-logo-img" src="assets/images/new-logo.png" alt="Logo">
                </div>
            <div class="flam-inner_div">
                <mat-form-field class="flam-field">
                <input matInput class="flam-login-input" formControlName="username" placeholder="UserName" required pattern="[a-zA-Z][a-zA-Z ]+">
                <img src="assets/images/side-icon.png" class="flam-sIcon" alt="icon">
                </mat-form-field>
                 <!-- <div *ngIf="username?.touched" class="alert alert-danger message">
                 <div *ngIf="username.errors?.required" class="alert alert-danger message">
                 User Name is required!
                 </div>
                 <div *ngIf="username.errors?.pattern message">Contact Invalid</div>
                 </div> -->
            </div>  
                  
            <div class="flam-inner_div">

                <mat-form-field class="flam-field">
                <input type="password" matInput class="flam-login-input" formControlName="password" placeholder="Password" required>
                <img src="assets/images/side-icon.png" class="flam-sIcon" alt="icon"> 
                </mat-form-field>
                <!-- <div *ngIf="password?.touched" class="alert alert-danger message">
                 <div *ngIf="password.errors?.required" class="alert alert-danger message">
                 Password is required!
                 </div>
                 <div [hidden]="!password?.hasError('minlength')" class="message">Invalid Password!</div>
                 </div> -->
                </div>
                
            <div class="flam-inner_div clearfix" id="flam-inner_box">
                <mat-checkbox type="checkbox" class="flam-input_check">Remember me</mat-checkbox>
                <p class="right flam-login-pwd">Forgot Password?</p>
            </div>
            <div class="flam-inner_div">
                <button type="submit" name="button" class="flam-btn" (click)="submitLogin()">Login</button><i class="material-icons flam-right_arrow">arrow_forward</i></div>
        </div>
        <div class="flam-login-footer">
            <p class="flam-login-footer-p">Copyrights &copy; 2018 All Rights Reserved by Smart Health (P) Ltd.</p>
        </div>
    </form>
</div>
