<div id="flam-existing-form">
    <div class="row">
        <div class="col-sm-9">
            <form (ngSubmit)="searchPatients()" class="flam-details flam-exist-form-detail">
                <div class="row existing-patient-block">
                    <div class="col-sm-4">
                        <div class="flam-existing-input">
                            <mat-form-field class="flam-input-field">
                                <input name="name" class="flam-input-field" [formControl]="nameCtrl" matInput placeholder="Patient Name" required>
                                <img src="assets/images/side-icon.png" class="flam-sIcon flam-appoint-icon flam-exist-icon" alt="icon">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="flam-existing-input">
                            <mat-form-field class="flam-input-field">
                                <input name="mobileNumber" class="flam-input-field" [formControl]="numberCtrl" matInput placeholder="Mobile Number" required>
                                <img src="assets/images/side-icon.png" class="flam-sIcon flam-appoint-icon flam-exist-icon" alt="icon">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="flam-existing-input flam-inner_div">

                            <button type="submit" class="flam-btn_patient flam-select-btn right">Select and Go</button>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>



    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-7">

                    <div class="flam-existing-patient-table">
                        <mat-table #table [dataSource]="dataSource">

                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="gender">
                                <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="dob">
                                <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.dob}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="mobile">
                                <mat-header-cell *matHeaderCellDef> Mobile Number </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectPatient(row)"></mat-row>
                        </mat-table>
                    </div>
                </div>



                <div *ngIf="selectedPatient" class="col-lg-3 col-md-4 col-sm-5">
                    <mat-card class="app-form">
                        FIX APPOINTMENT
                        <div class="example-container ">
                            <div class="fix-appoinment" [formGroup]="appointmentForm">
                                <mat-form-field>
                                    <input matInput formControlName="selectedDate" name="selectedDate" [matDatepicker]="picker" placeholder="Select Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                

                                <mat-form-field (click)="toggleTimePicker()">
                                    <input matInput name="selectedTime" formControlName="selectedTime"  placeholder="Select Time">
                                     <mat-icon matSuffix >access_time</mat-icon>
                                </mat-form-field>
                                 <w-time [isOpen]= "isOpen" color="primary" [(userTime)]="exportTime" (onRevert)="onRevert()" (onSubmit)="onSubmit($event)"></w-time> 
                                <mat-form-field>
                                    <input name="selectedDoctor" formControlName="selectedDoctor" placeholder="Select Doctor" type="text" matInput [formControl]="doctorControl" [matAutocomplete]="doctorAutocomplete">
                                    <mat-autocomplete #doctorAutocomplete="matAutocomplete" [displayWith]="displayDoctorName" (optionSelected)="onSelectedDoctor($event)">
                                        <mat-option *ngFor="let suggestion of doctorSuggestions" [value]="suggestion">
                                            {{ suggestion?.first_name }} {{ suggestion?.last_name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <mat-form-field>
                                    <input name="selectedDepartment" formControlName="selectedDepartment" placeholder="Select Department" type="text" matInput [formControl]="departmentControl" [matAutocomplete]="departmentAutocomplete">
                                    <mat-autocomplete #departmentAutocomplete="matAutocomplete" [displayWith]="displayDepartmentName" (optionSelected)="onSelectedDepartment($event)">
                                        <mat-option *ngFor="let suggestion of departmentSuggestions" [value]="suggestion">
                                            {{ suggestion?.name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <mat-form-field>
                                    <input formControlName="visitId" name="visitId" type="text" matInput placeholder="Enter Visit Id">
                                </mat-form-field>
                            </div>
                            <div class="flam-inner_div flam-appointment-field flam-upper-btn clearfix">
                                <button type="submit" name="button" class="flam-btn_patient flam-side-form-btn flam-a-btn" (click)="createAppointment()">Confirm</button>
                                <button type="submit" name="button" class="flam-btn_patient flam-cancel_btn right flam-a-btn" (click)="cancelAppointment()">Cancel</button>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

</div>