<!-- 
 
 
    <mat-drawer-container class="sidenav-container" exclude="#toggle-menu-button">
    <mat-drawer position="end" #sidenav class="sidenav aside-box mat-drawer-width" [opened]="opened" [mode]="menuMode" (closedStart)="sidenavIsClosing()">
        <div class="flam-detail-div-rt">
            <div class="flam-detail-div-rt-inner">
                <div class="flam-div1">
                    <div class="flam-user-img">
                        <img src="assets/images/3.jpg">
                    </div>
                    <div class="flam-user-brief">
                        <h4 class="flam-user-name">Vandita Miranda</h4>
                        <span class="flam-user-age">Female , 34 years</span>
                        <h6 class="flam-user-num">+ 91 9810 543188</h6>
                        <h6 class="flam-user-email">vandita.miranda@gmail.com</h6>
        
                        <h5>UHID
                            <span>URAM02345678</span>
                        </h5>
                    </div>
                    <div class="flam-pt-cat">
                        <img src="assets/images/king.png">
                    </div>
                </div>
                <div class="flam-div2">
                    <ul class="list-inline">
                        <li>
                            <span>Dr. Bharat Kukreti</span>
                        </li>
                        <li>Time
                            <span>10:15 PM</span>
                        </li>
                        <li>Duration
                            <span>30 Minutes</span>
                        </li>
                    </ul>
                </div>
                <div class="flam-div3">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#flam-patientdetails">Patient Details</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#flam-history">Visit History</a>
                        </li>
                    </ul>
        
                    <div class="tab-content">
                        <div id="flam-patientdetails" class="tab-pane fade in active">
                            <ul class="nav nav-pills">
                                <li class="active">
                                    <a data-toggle="pill" href="#flam-vital">Vitals</a>
                                </li>
                                <li>
                                    <a data-toggle="pill" href="#flam-allergies">Allergies</a>
                                </li>
                                <li>
                                    <a data-toggle="pill" href="#flam-socialhistory">Social History</a>
                                </li>
                                <li>
                                    <a data-toggle="pill" href="#flam-medcond">Medical Conditions</a>
                                </li>
                                <li>
                                    <a data-toggle="pill" href="#flam-curmed">Current Medications</a>
                                </li>
                                <li>
                                    <a data-toggle="pill" href="#flam-gynaehistory">Gynae History</a>
                                </li>
                            </ul>
        
                            <div class="tab-content flam-pill-tab-content">
                                <div id="flam-vital" class="tab-pane fade in active">
                                    <div class="flam-div1a">
                                        <ul class="list-inline">
                                            <li>
                                                <h6>Height</h6>
                                                <h3>5’5”
                                                    <span>165cm</span>
                                                </h3>
                                            </li>
                                            <li>
                                                <h6>Weight</h6>
                                                <h3>58kg</h3>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="flam-div1a flam-div1b">
                                        <ul class="list-inline">
                                            <li>
                                                <h6>BMI</h6>
                                                <h3>29.5</h3>
                                            </li>
                                            <li>
                                                <h6>Last 3 Visit Trend</h6>
                                                <ul class="list-inline">
                                                    <li>
                                                        <h6>22.09.2017</h6>
                                                        <h3>24.5</h3>
                                                    </li>
                                                    <li>
                                                        <h6>18.06.2017</h6>
                                                        <h3>27.5</h3>
                                                    </li>
                                                    <li>
                                                        <h6>04.09.2016</h6>
                                                        <h3>21.5</h3>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="flam-div1a flam-div1c">
                                        <ul class="list-inline">
                                            <li>
                                                <h6>Blood Pressure</h6>
                                                <h3>135 / 80</h3>
                                            </li>
                                            <li>
                                                <h6>Last 3 BP Trend</h6>
                                                <ul class="list-inline">
                                                    <li>
                                                        <h6>22.09.2017</h6>
                                                        <h3>125 / 70</h3>
                                                    </li>
                                                    <li>
                                                        <h6>18.06.2017</h6>
                                                        <h3>115 / 80</h3>
                                                    </li>
                                                    <li>
                                                        <h6>04.09.2016</h6>
                                                        <h3>90 / 80</h3>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="flam-div1a flam-div1c">
                                        <ul class="list-inline">
                                            <li>
                                                <h6>Blood Pressure</h6>
                                                <h3>135 / 80</h3>
                                            </li>
                                            <li>
                                                <h6>Last 3 BP Trend</h6>
                                                <ul class="list-inline">
                                                    <li>
                                                        <h6>22.09.2017</h6>
                                                        <h3>125 / 70</h3>
                                                    </li>
                                                    <li>
                                                        <h6>18.06.2017</h6>
                                                        <h3>115 / 80</h3>
                                                    </li>
                                                    <li>
                                                        <h6>04.09.2016</h6>
                                                        <h3>90 / 80</h3>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="flam-div1a flam-div1c">
                                        <ul class="list-inline">
                                            <li>
                                                <h6>Blood Pressure</h6>
                                                <h3>135 / 80</h3>
                                            </li>
                                            <li>
                                                <h6>Last 3 BP Trend</h6>
                                                <ul class="list-inline">
                                                    <li>
                                                        <h6>22.09.2017</h6>
                                                        <h3>125 / 70</h3>
                                                    </li>
                                                    <li>
                                                        <h6>18.06.2017</h6>
                                                        <h3>115 / 80</h3>
                                                    </li>
                                                    <li>
                                                        <h6>04.09.2016</h6>
                                                        <h3>90 / 80</h3>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="flam-allergies" class="tab-pane fade">
                                    <h3>Allergies</h3>
                                    <ul class="list-unstyled">
                                        <li>
                                            Penicillin and related antibiotics
                                        </li>
                                        <li>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </li>
                                        <li>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry.
                                        </li>
                                        <li>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </li>
                                        <li>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry.
                                        </li>
                                        <li>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry.
                                        </li>
                                        <li>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </li>
                                    </ul>
                                </div>
                                <div id="flam-socialhistory" class="tab-pane fade">
                                    <h3>Social History</h3>
                                    <ul class="list-unstyled">
                                        <li>
                                            Smoker
                                            <span>Ex-Smoker</span>
                                        </li>
                                        <li>
                                            Chewing tobacco
                                            <span>Yes</span>
                                        </li>
                                        <li>
                                            Alcohol Consumption
                                            <span>Social Drinker</span>
                                        </li>
                                        <li>
                                            Exercise
                                            <span>Exercises Occasionally</span>
                                        </li>
                                    </ul>
                                </div>
                                <div id="flam-medcond" class="tab-pane fade">
                                    <h3>Medical Conditions</h3>
                                    <ul class="list-unstyled">
                                        <li>
                                            <h5>Diabetes</h5>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry.
                                        </li>
                                        <li>
                                            <h5>Hypertension</h5>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </li>
                                        <li>
                                            <h5>Diabetes</h5>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry.
                                        </li>
                                        <li>
                                            <h5>Diabetes</h5>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </li>
                                        <li>
                                            <h5>Diabetes</h5>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry.
                                        </li>
                                        <li>
                                            <h5>Diabetes</h5>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry.
                                        </li>
                                        <li>
                                            <h5>Diabetes</h5>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </li>
                                    </ul>
                                </div>
                                <div id="flam-curmed" class="tab-pane fade">
                                    <h3>Current Medications</h3>
                                    <ul class="list-unstyled">
                                        <li>
                                            Clonidine 200mg
                                            <span>2 months</span>
                                        </li>
                                        <li>
                                            Dolo 500mg
                                            <span>1 year</span>
                                        </li>
                                        <li>
                                            Dolo 500mg
                                            <span>1 year</span>
                                        </li>
                                    </ul>
                                </div>
                                <div id="flam-gynaehistory" class="tab-pane fade">
                                    <h3>Gynae History</h3>
                                    <ul class="list-unstyled">
                                        <li>
                                            Currently Pregnant
                                            <span>Yes</span>
                                        </li>
                                        <li>
                                            Menstrual Cycle
                                            <span>Regular</span>
                                        </li>
                                        <li>
                                            No. of Children
                                            <span>1</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="flam-history" class="tab-pane fade">
                            <h3>Visit History</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>



        <h2 class="hdg">Vitals</h2>
  <form class="form-pt-det form-vital">
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Weight (kg)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Height (cm)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
        </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Blood pressure (mmHg) Systolic">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="flam-separator">
          <span>/</span>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Diastolic">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Pulse (Heart beats/min)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Temperature (&deg;C)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
          
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Resp. Rate (Breaths/min)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Blood Sugar (mg/dl)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Oxygen Saturation (mmHg)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>

  </form>

  <div class="btn-div">
      <div class="btn1">
          <button type="button">Save</button>
      </div>
      <div class="btn2">
          <button type="button">Verify</button>
      </div>
    </div>
    </mat-drawer-content>
 </mat-drawer-container>-->
 




<h2 class="hdg">Vitals</h2> 
   <form class="form-pt-det form-vital">
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Weight (kg)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Height (cm)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
        </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Blood pressure (mmHg) Systolic">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="flam-separator">
          <span>/</span>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Diastolic">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Pulse (Heart beats/min)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Temperature (&deg;C)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
          
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Resp. Rate (Breaths/min)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Blood Sugar (mg/dl)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Oxygen Saturation (mmHg)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>

  </form>

  <div class="btn-div">
      <div class="btn1">
          <button type="button">Save</button>
      </div>
      <!-- <div class="btn2">
          <button type="button">Verify</button>
      </div> -->
   </div>