<h2 class="hdg">Vitals</h2>

  <form class="form-pt-det form-vital">
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Weight (kg)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Height (cm)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
        </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Blood pressure (mmHg) Systolic">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="flam-separator">
          <span>/</span>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Diastolic">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Pulse (Heart beats/min)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Temperature (&deg;C)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
          
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Resp. Rate (Breaths/min)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Blood Sugar (mg/dl)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>
      <div class="selct-field">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Oxygen Saturation (mmHg)">
            <span class="flam-arr">
            </span>
          </mat-form-field>
      </div>

  </form>

  <div class="btn-div">
      <div class="btn1">
          <button type="button">Save</button>
      </div>
      <div class="btn2">
          <button type="button">Verify</button>
      </div>
    </div>