<ul class="list-inline flam-history-tab">
        <li>
            <a [routerLink]="['allergy']" routerLinkActive="active">Allergies and Med Alert</a>
        </li>
        <li>
            <a [routerLink]="['medical-condition']" routerLinkActive="active">Medical Conditions </a>
        </li>
        <li>
            <a [routerLink]="['social-history']" routerLinkActive="active">Social History</a>
        </li>
        <li>
            <a [routerLink]="['family-history']" routerLinkActive="active">Family History</a>
        </li>
        <li>
            <a [routerLink]="['past-hospitalization']" routerLinkActive="active">Past Hospitalization</a>
        </li>
        <li>
            <a [routerLink]="['gynae-history']" routerLinkActive="active">Gyn. / Obs History</a>
        </li>
    </ul>

        <router-outlet></router-outlet>
    