<header id="flam-branch-header">
    <div class="flam-contain clearfix">
        <div id="flam-logo">
            <a routerLink="/dashboard">
                <!-- <img class="flam-branch-logo" src="assets/images/logo-main.jpg" alt="logo"> -->
                <img class="flam-branch-logo" src="assets/images/color-logo.png" alt="logo">
            </a>
        </div>
        <!-- search-header -->
        <div *ngIf="showSearchBar === true" id="flam-searchPatient">
            <label for="" id="flam-search-label">Search Patient by</label>
            <div class="flam-head_placeholder flam-input-group">
                <input type="text" name="s-patient" class="flam-head_input" placeholder="Name / Mobile / ID / Status" required>
            </div>
            <div class="flam-input-group-btn right">
                <i class="material-icons">search</i>
            </div>

        </div>
        <!-- finish search-header -->
        <div *ngIf="showAddPatientBtn === true" class="flam-add-btn">
            <button class="flam-btn_patient">
                <a  routerLink="/material-appointment/type/0/tab/{{appointmenConstant.NEW_PATIENT_TAB}}">
                    Add New Patient
                </a> 
            </button>
        </div>
        <div *ngIf="showAddWalkinBtn === true" class="flam-add-btn">
            <button class="flam-btn_patient">
                <a  routerLink="/material-appointment/type/1/tab/{{appointmenConstant.EXISTING_PATIENT_TAB}}">
                    Add Walk-in Consult
                </a>
            </button>
        </div>
        <!-- right header -->
        <div class="flam-head_name right">
            <div class="flam-dr-nm-hdr dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/4.jpg" alt="Images" class="flam-dr-img">
                    <span class="flam-dr-name">{{loggedIn_User_Salutation}} {{loggedIn_First_Name}} {{loggedIn_Last_Name}}</span>
                    <span>
                    <i class="material-icons flam-icon1">arrow_drop_down</i>
                  </span>
                </div>
                <ul class="dropdown-menu">
                    <li>
                        <a>
                            <img class="flam-menu-img" src="assets/images/profile-icon.png" alt="profile">
                            <span class="flam-menu-span">PROFILE</span>
                            <button class="flam-edit-menu right" type="submit">EDIT</button>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img class="flam-menu-img" src="assets/images/view-icon.png" alt="View">
                            <span class="flam-menu-span">VIEW REPORT</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img class="flam-menu-img" src="assets/images/setting-icon.png" alt="Setting">
                            <span class="flam-menu-span">SETTING</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img class="flam-menu-img" src="assets/images/help.png" alt="Help">
                            <span class="flam-menu-span">HELP</span>
                        </a>
                    </li>
                    <li (click)="logoutApplication()">
                        <a>
                            <img class="flam-menu-img" src="assets/images/logout-icon.png" alt="Logout">
                            <span class="flam-menu-span">LOGOUT</span>
                        </a>
                    </li>
                    <li>
                        <a class="flam-text right">
                            <img class="flam-menu-image flam-fortis-logo" src="assets/images/hospital-icon.png" alt="Image">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flam-menu-btn-hdr dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span class="flam-menu-btn-icon">
                    <i class="material-icons flam-icon2">menu</i>
                  </span>
                </div>
                <ul class="dropdown-menu">
                    <li>
                        <a>
                            <span class="flam-menu-span">About Us</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="flam-menu-span">Support</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="flam-menu-span">Tutorials</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="flam-menu-span">FAQ's</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="flam-menu-span">News</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>